@import "../node_modules/@syncfusion/ej2/material.css";
/* @import "../node_modules/@syncfusion/ej2/material-dark.css"; */

input[type='number']:focus{
box-shadow:none;
}
input[type='number']{
background-color: transparent;
}
.e-treeview .e-text-content {
  padding: 0;
}
/* Grid */
.e-treeview .e-ul {
    padding: 0 !important;
}
.e-grid td.e-active {
  background-color: rgb(213, 230, 244) ;
}
.e-toolbar .e-tbar-btn:focus {
  background-color: rgb(213, 230, 244);
  border-radius: 5px;
}
.e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn:hover {
  background-color: rgb(213, 230, 244);
  border-radius: 5px;
}
.e-grid .e-toolbar{
  border-top:0;
}
.e-grid .e-gridheader tr th{
  background-color:#f8fafc;
}
.e-list-parent .e-list-item.e-selected {
  background-color: rgb(203, 206, 211) 
}
.e-edit-dialog .e-gridform .e-table {
  border-spacing: 0 !important;
}

.e-grid .e-rowcell,
.e-grid .e-headercell,
.e-grid .e-gridheader .e-sortfilter .e-headercelldiv {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

/* treeview */
.e-treeview.e-fullrow-wrap .e-text-content {
  background-color: transparent !important;
  border: none;
}
.e-treeview .e-list-item.e-active > .e-fullrow {
  background-color: transparent !important;
  border: none;
}
.e-treeview .e-list-item.e-hover > .e-fullrow {
  background-color: transparent !important;
  border: none;
}
/* dropdownList */
.e-ddl.e-input-group.e-control-wrapper .e-input,
.e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left) {
  padding-left: 0.5rem;
  margin: 0;
  padding-right: 0.5rem;
  background-color: rgb(249 250 251 / 1);
  padding-top: 0rem;
  padding-bottom: 0rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5715;
  color: rgb(30 41 59 / 1);
}
/* textbox */
.e-input-group:not(.e-float-icon-left),
.e-input-group.e-success:not(.e-float-icon-left),
.e-input-group.e-warning:not(.e-float-icon-left),
.e-input-group.e-error:not(.e-float-icon-left),
.e-input-group.e-control-wrapper:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left) {
  border: none;
}
/* .e-numeric.e-control-wrapper.e-input-group .e-input-group-icon {
  display: none;
} */
/* .e-input-group input.e-input::placeholder {
  background-color: rgb(249 250 251 / 1) !important;
  color: rgb(148 163 184 / 1) !important;
} */
.e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left).e-disabled,
.e-input-group input.e-input::placeholder,
.e-input-group textarea.e-input::placeholder {
  background-color: rgb(249 250 251 / 1) !important;
  color: rgb(148 163 184 / 1) !important;
}

.e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left) {
  padding-left: 0.5rem;
  padding-right: 0rem;
}
/* dialog */
.e-dialog .e-footer-content {
  background-color: rgb(248 250 252 / 1);
  border-top: 1px solid rgb(226 232 240 / 1) !important;
}
.e-dialog .e-dlg-header-content {
  background-color: rgb(248 250 252 / 1);
  border-bottom: 1px solid rgb(226 232 240 / 1) !important;
  padding: 10px;
  margin-bottom: 10px;
}
.e-numeric .e-input-group-icon.e-spin-up:before {
  content: "\e823";
  color: rgba(0, 0, 0, 0.54);
}
.e-numeric .e-input-group-icon.e-spin-down:before {
  content: "\e934";
  color: rgba(0, 0, 0, 0.54);
}
/* ******switch****/
.e-switch-wrapper .e-switch-handle.e-switch-active, .e-css.e-switch-wrapper .e-switch-handle.e-switch-active,.e-css.e-switch-wrapper .e-switch-handle.e-switch-active {
    background-color: rgb(99 102 241) !important;
}
.e-switch-wrapper .e-switch-on, .e-css.e-switch-wrapper .e-switch-on,.e-css.e-switch-wrapper:hover .e-switch-inner.e-switch-active .e-switch-on {
    background-color: rgb(99 102 241) !important;
    color: #fff;
}

.e-tab  {
    background-color: transparent !important;
}
/* .e-tab .e-tab-header {

    background-color: white ;
} */
.e-tab .e-tab-header .e-toolbar-item .e-tab-wrap {
 background-color: white
}