
*::before,
*::after {
  box-sizing: border-box;
  width: 100%;
  
}
html,
body {
 overflow-y: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: auto;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
    background-color: rgb(203 213 225);

}
::-webkit-scrollbar {
  width: 10px;
  height: 7px
}
::-webkit-scrollbar-thumb {
  background-color: rgb(83, 85, 153);
  border-radius: 30px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

